.custom-navbar {
  background-color: brown;
}


.custom-brand {
  font-weight: bold;
  font-size: 1.4rem;
  color: #ffffff !important;
}


.custom-link {
  color: beige!important;
  margin-left: 20px;
  font-weight: 500;
}


.custom-link:hover {
  color: rgb(165, 206, 159) !important;
 
}


.navbar-toggler {
  border-color: rgba(255,255,255,0.5);
}

.navbar-toggler-icon {
  filter: invert(1);
}


.home-section{
    background-color: rgb(168, 166, 163);
    color: black;
    min-height: 100vh;
    padding: 50px;
}

.home-section h1{
    font-weight: 600;
}

.home-section ul{
    margin-top: 15px;
    margin-bottom: 15px;
}

.home-section .alert {
  font-size: 0.95rem;
}

.home-section .btn {
  padding: 10px 25px;
  font-size: 1rem;
  border-radius: 5px;
}


